.listingCard{
    
    padding: 20px;
    border-radius: 50px;
    background-color:beige;
    width: 300px;
    height: 650px;
}

.listingCards{
    border: 2px solid black;
    padding: 10px;
    border-radius: 50px;
    height: 110px;
    
}

.aptCard{
    background-color: rgb(208, 208, 180);
    border: 2pt solid black;
    border-radius: 20px;
    opacity: 0.8;

}

.priceHeart{
    display: flex;
    padding-left: 5pt;
}