.questions{
    font-size: 70px;
}

.inputs{
    width: 300px; /* Adjust width as needed */
    padding: 12px 20px; /* Padding inside the input */
    font-size: 16px; /* Text size */
    border-radius: 8px; /* Rounded corners */
    border: 2px solid #ccc; /* Border color */
    background-color: #f8f8f8; /* Light background */
    color: #333; /* Text color */
    transition: border 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.nextBtn{
    padding-top: 20px;
}
