.signupPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signupBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 100px;
    width: 300px;
    background-color: rgb(23, 9, 1);
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
}

.signupBox input {
    padding: 20px;
    width: 100%; /* Ensure all inputs take the full width of the container */
    border-radius: 5px;
    border: 1px solid #ccc;
}

.email-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%; /* Ensure the container has the same width as the input */
}

.email-container input {
    flex-grow: 1; /* Ensures email input takes up the full width */
}

.info-icon {
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    color: #9b9a9a;
}

.info-icon:hover {
    color: #f5e981;
}

/* Tooltip Style */
.info-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.info-icon:hover::after {
    visibility: visible;
    opacity: 1;
}

.submitBtn {
    margin-top: 20px;
}

.submitBtn .nav-link {
    color: #f5e981;
    transition: color 0.3s ease;
}

.submitBtn .nav-link:hover {
    color: black;
}

.signin-link {
    margin-top: 15px;
    font-size: 1rem;
    text-align: center;
}

.signin-link p {
    color: #333;
    margin: 0;
}

.signin-link a {
    color: #9b9a9a;
    text-decoration: none;
    font-weight: bold;
}

.signin-link a:hover {
    text-decoration: underline;
}
